.pmd-mermaid-error {
  background-color: var(--pmd-mermaid-error, #e77878);
  color: white;
  padding: 1em;
  border-radius: 4px;
  overflow-x: auto;
}

.pmd-math-error {
  background-color: #fee;
  border: 1px solid #fdd;
  color: #c00;
  padding: 0.5em;
  border-radius: 4px;
}
