[Desktop Entry]
Type=Application
Name=preview-md
GenericName=Markdown Preview
Comment=Best-in-class markdown preview for Linux
Exec=preview-md %F
Icon=dev.previewmd.App
Terminal=false
Categories=Utility;TextEditor;
MimeType=text/markdown;text/x-markdown;
StartupNotify=true
StartupWMClass=dev.previewmd.App
Actions=NewWindow;OpenFile;

[Desktop Action NewWindow]
Name=New Window
Exec=preview-md

[Desktop Action OpenFile]
Name=Open File...
Exec=preview-md --open-dialog
